# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
tmp/
test-result
server.pid
*.eml
# /dist/
.cache
target/
.target/
.history
.cache
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

*.trace.db
*.lock.db
